// n is number of stars required
@function multiple-box-shadow ($n, $c) {
  $value: '#{random(5000)}px #{random(5000)}px #{$c}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(5000)}px #{random(5000)}px #{$c}';
  }

  @return unquote($value);
}

#background {
  min-height: 480px;
  height: 100%;
  overflow: hidden;
  position:relative;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  border-radius: 50%;

  &:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 1px;
    height: 1px;
    background: transparent;
  }
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 2px;
    height: 2px;
    background: transparent;
  }
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinite;
  border-radius: 50%;

  &:after {
    content: " ";
    position: absolute;
    top: 5000px;
    width: 3px;
    height: 3px;
    background: transparent;
    border-radius: 50%;
  }
}
#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  text-align: center;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;

  margin-top: -60px;
  padding-left: 10px;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5000px);
  }
};