@import "starfield-common";

$shadows-small: multiple-box-shadow(700, '#000');
$shadows-medium: multiple-box-shadow(200, '#000');
$shadows-big: multiple-box-shadow(100, '#000');

#background{
  background: radial-gradient(ellipse at top, #f0f4f5 0%, #FFF 100%);
}

#stars {
    box-shadow: $shadows-small;
    &:after {
      box-shadow: $shadows-small;
    }
}

#stars2 {
    box-shadow: $shadows-medium;
    &:after {
        box-shadow: $shadows-medium;
    }
}

  #stars3 {
    
    box-shadow: $shadows-big;
  
    &:after {
      box-shadow: $shadows-big;
    }
  }

  #title {
    color: #000;
  }